/* @import url('~/assets/fonts/PlusJakartaSans.ttf'); */
@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@500;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-plusJakartaSans;
  }

  h1 {
    @apply text-2xl leading-[30px] font-bold;
  }

  h2 {
    @apply text-[18px] leading-[23px] font-bold;
  }

  h3 {
    @apply text-[15px] leading-[19px] font-bold;
  }

  h4 {
    @apply text-xs font-bold tracking-[2.4px] text-gray-500;
  }

  p.lg {
    @apply text-[13px] leading-[23px] font-medium;
  }

  p.md {
    @apply text-xs leading-[15px] font-bold;
  }

  input {
    @apply text-[13px] leading-[23px] font-medium text-black-600 dark:text-white-400 py-2 px-4 w-full rounded border border-[rgba(130,143,163,25%)] transition;
  }

  input:hover,
  input:focus {
    @apply border-blue-400;
  }

  input::placeholder {
    @apply text-[rgba(0,1,18,25%)] dark:text-[255,255,255,25%];
  }

  textarea {
    @apply text-[13px] leading-[23px] font-medium text-black-600 dark:text-white-400 py-2 px-4 w-full h-[112px] rounded border border-[rgba(130,143,163,25%)] transition;
  }

  textarea:hover,
  textarea:focus {
    @apply border-blue-400;
  }

  textarea::placeholder {
    @apply text-[rgba(0,1,18,25%)] dark:text-[255,255,255,25%];
  }
}

@layer components {
  .btn {
    @apply text-white-400 bg-blue-400 hover:bg-blue-300 rounded-full transition;
  }

  .btn-secondary {
    @apply text-blue-400 bg-[rgba(99,95,199,10%)] hover:bg-[rgba(99,95,199,25%)] dark:bg-white-400 dark:hover:bg-white-400 rounded-full transition;
  }

  .btn-delete {
    @apply text-white-400 bg-red-400 hover:bg-red-300 rounded-full transition;
  }
}
